<div class="register-container">
  <h2>Registrarse</h2>
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="register-form">
    <!-- Campo de Correo Electrónico -->
    <div class="form-group">
      <label for="Email">Correo Electrónico:</label>
      <input id="Email" formControlName="Email" type="email" />
      <div *ngIf="registerForm.get('Email')?.invalid && registerForm.get('Email')?.touched">
        <small *ngIf="registerForm.get('Email')?.errors?.['required']">El email es obligatorio.</small>
        <small *ngIf="registerForm.get('Email')?.errors?.['email']">Formato de email no válido.</small>
      </div>
    </div>

    <!-- Campo de Contraseña -->
    <div class="form-group">
      <label for="Password">Contraseña:</label>
      <input id="Password" formControlName="Password" type="password" />
      <div *ngIf="registerForm.get('Password')?.invalid && registerForm.get('Password')?.touched">
        <small *ngIf="registerForm.get('Password')?.errors?.['required']">La contraseña es obligatoria.</small>
        <small *ngIf="registerForm.get('Password')?.errors?.['minlength']">
          La contraseña debe tener al menos 6 caracteres.
        </small>
        <small *ngIf="registerForm.get('Password')?.errors?.['pattern']">
          La contraseña debe contener al menos 1 número.
        </small>
      </div>
    </div>

    <!-- Botón de Registro -->
    <button type="submit" [disabled]="registerForm.invalid" class="btn">Registrarse</button>
  </form>
</div>
