/* Contenedor principal para el formulario de inicio de sesión */
.login-container {
  background-color: #007bff; /* Fondo azul */
  padding: 20px 50px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título del formulario */
.login-container h2 {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}

/* Grupos de formulario */
.login-form .form-group {
  margin-bottom: 20px;
}

/* Etiquetas de los campos */
.login-form label {
  font-size: 20px;
  color: #f1f1f1;
  display: block;
  margin-bottom: 10px;
}

/* Campos de entrada */
.login-form input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: #000;
  background-color: #ffffff;
  transition: box-shadow 0.3s, border 0.3s;
}

/* Borde y sombra al enfocar un campo */
.login-form input:focus {
  outline: none;
  box-shadow: 0 0 5px #80d4ff; /* Sombra azul claro */
  border: 1px solid #80d4ff; /* Borde azul claro */
}

/* Botón de enviar */
.login-form button.btn {
  width: 100%;
  background-color: #0056b3;
  color: white;
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover del botón */
.login-form button.btn:hover {
  background-color: #004080;
}

/* Estilo del mensaje de error */
.error-message {
  background-color: #ffdddd; /* Fondo rojo claro */
  color: #d8000c; /* Texto rojo */
  border: 1px solid #d8000c; /* Borde rojo */
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}
