<div class="post-container">
  <h2>Crear un nuevo post</h2>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="post-form">
    <!-- Campo de Título -->
    <div class="form-group">
      <label for="tittle">Título:</label>
      <input
        id="tittle"
        type="text"
        formControlName="tittle"
        class="form-control"
        [class.invalid]="postForm.get('tittle')?.invalid && postForm.get('tittle')?.touched"
      />
      <div *ngIf="postForm.get('tittle')?.invalid && postForm.get('tittle')?.touched">
        <small *ngIf="postForm.get('tittle')?.errors?.['required']">El título es obligatorio.</small>
        <small *ngIf="postForm.get('tittle')?.errors?.['minlength']">El título debe tener al menos 5 caracteres.</small>
      </div>
    </div>

    <!-- Campo de Imagen -->
    <div class="form-group">
      <label for="image">Imagen:</label>
      <input id="image" type="file" (change)="onImageSelected($event)" class="form-control" />
      <div *ngIf="!postForm.get('image')?.value && postForm.get('image')?.touched">
        <small>Debes seleccionar una imagen.</small>
      </div>
    </div>

    <!-- Vista previa de la imagen -->
    <div class="image-preview" *ngIf="imagePreview">
      <img [src]="imagePreview" alt="Vista previa de la imagen" />
    </div>

    <!-- Botón Crear Post -->
    <button type="submit" [disabled]="postForm.invalid" class="btn">Crear Post</button>
  </form>
</div>
